<a href="https://colab.research.google.com/github/medicadex/Hamoye_Project/blob/main/QAZEEM_ADEBOWALE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Read the CSV file into a DataFrame with a different encoding
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin1')

# Print the first few rows of the DataFrame
df.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [2]:
df.shape

(60943, 12)

In [3]:

selected_columns = df[['Y2017', 'Area']]
grouped = selected_columns.groupby('Area').sum().reset_index()
sorted_grouped = grouped.sort_values(by='Y2017')
seventh_lowest = sorted_grouped.iloc[6]  # Index starts from 0
area_with_seventh_lowest_sum_2017 = seventh_lowest['Area']
seventh_lowest.head()

Area     Guinea-Bissau
Y2017         19102.77
Name: 21, dtype: object

In [4]:

correlation_with_element_code = {}

# Iterate over each year column
for year_column in df.columns[df.columns.str.startswith('Y')]:
    correlation = df['Element Code'].corr(df[year_column])
    correlation_with_element_code[year_column] = correlation

# Find the year with the minimum correlation coefficient
min_corr_year = min(correlation_with_element_code, key=correlation_with_element_code.get)
min_corr_value = correlation_with_element_code[min_corr_year]

print("Year with the least correlation with 'Element Code':", min_corr_year)
print("Correlation coefficient:", min_corr_value)

Year with the least correlation with 'Element Code': Y2016
Correlation coefficient: 0.023443997584961424

In [5]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x=y[1][1]
print(x)

8

In [6]:
#Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
processing_2017 = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()

# Print the total sum of Processing in 2017
print("Total sum of Processing in 2017:", processing_2017)

Total sum of Processing in 2017: Element
Processing    292836.0
Name: Y2017, dtype: float64

In [7]:
# What is the total Protein supply quantity in Madagascar in 2015?

total_protein_supply_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()

# Print the total protein supply quantity in Madagascar in 2015
print("Total Protein supply quantity in Madagascar in 2015:", total_protein_supply_2015)

Total Protein supply quantity in Madagascar in 2015: 173.04999999999998

In [8]:

wine_production = df[df['Item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()

# Print the total sum of Wine produced in 2015 and 2018 respectively
print("Total sum of Wine produced in 2015:", wine_production['Y2015'].values[0])
print("Total sum of Wine produced in 2018:", wine_production['Y2018'].values[0])

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

In [9]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?
total_missing_2014 = df['Y2014'].isnull().sum()
total_entries_2014 = df['Y2014'].shape[0]

# Calculate percentage of missing data
percentage_missing_2014 = (total_missing_2014 / total_entries_2014) * 100

# Print the total number and percentage of missing data in 2014
print("Total number of missing data in 2014:", total_missing_2014)
print("Percentage of missing data in 2014:", "{:.3f}%".format(percentage_missing_2014))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [10]:
#What is the total number of unique countries in the dataset?
total_unique_countries = df['Area'].nunique()

# Print the total number of unique countries in the dataset
print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49

In [11]:
#Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
stock_variation = df[df['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum of Stock Variation
max_sum_year = stock_variation.idxmax(axis=1)[0]

# Print the year with the highest sum of Stock Variation
print("Year with the highest sum of Stock Variation:", max_sum_year)

Year with the highest sum of Stock Variation: Y2014

In [13]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
selected_columns = df[['Y2017', 'Area']]
grouped = selected_columns.groupby('Area').sum()
area_with_highest_sum_2017 = grouped.idxmax()[0]

print("Area with the highest sum in 2017:", area_with_highest_sum_2017)

Area with the highest sum in 2017: Nigeria