<a href="https://colab.research.google.com/github/medicadex/Hamoye_Project/blob/main/QAZEEM_ADEBOWALE_(STAGE_B).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("energydata_complete.csv")
df.describe(include="all")

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
unique,19735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2016-01-11 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,NaN,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,NaN,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,NaN,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,NaN,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,NaN,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,NaN,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np


X = df[['T2']]
y = df['T6']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Print RMSE rounded to three decimal places
print("Root Mean Squared Error:", round(rmse, 3))

Root Mean Squared Error: 3.633

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler

# Remove specified columns from the DataFrame
df_cleaned = df.drop(columns=["date", "lights"])

# Define features (X) and target variable (y)
X = df_cleaned.drop(columns=["Appliances"])
y = df_cleaned["Appliances"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Normalize the dataset using MinMaxScaler
scaler = MinMaxScaler()
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.transform(X_test)

# Train the multiple linear regression model on the training set
model = LinearRegression()
model.fit(X_train_normalized, y_train)

#predictions on the training set
y_train_pred = model.predict(X_train_normalized)

# Calculate Mean Absolute Error (MAE) for the training set
mae_train = mean_absolute_error(y_train, y_train_pred)


print("Mean Absolute Error (Training Set):", round(mae_train, 3))

Mean Absolute Error (Training Set): 53.742

In [5]:
from sklearn.metrics import mean_squared_error

# Make predictions on the training set
y_train_pred = model.predict(X_train_normalized)

# Calculate Mean Squared Error (MSE) for the training set
mse_train = mean_squared_error(y_train, y_train_pred)

# Calculate Root Mean Squared Error (RMSE) for the training set
rmse_train = np.sqrt(mse_train)

# Print RMSE rounded to three decimal places
print("Root Mean Squared Error (Training Set):", round(rmse_train, 3))

Root Mean Squared Error (Training Set): 95.216

In [6]:
#predictions on the test set
y_test_pred = model.predict(X_test_normalized)

# Calculate Mean Absolute Error (MAE) for the test set
mae_test = mean_absolute_error(y_test, y_test_pred)

# Print MAE rounded to three decimal places
print("Mean Absolute Error (Test Set):", round(mae_test, 3))

Mean Absolute Error (Test Set): 53.643

In [7]:
#predictions on the test set
y_test_pred = model.predict(X_test_normalized)

# Calculate Mean Squared Error (MSE) for the test set
mse_test = mean_squared_error(y_test, y_test_pred)

# Calculate Root Mean Squared Error (RMSE) for the test set
rmse_test = np.sqrt(mse_test)

# Print RMSE rounded to three decimal places
print("Root Mean Squared Error (Test Set):", round(rmse_test, 3))

Root Mean Squared Error (Test Set): 93.64

In [8]:
from sklearn.linear_model import Ridge

# Train the Ridge regression model on the training set
ridge_model = Ridge()
ridge_model.fit(X_train_normalized, y_train)

#predictions on the test set
y_test_pred_ridge = ridge_model.predict(X_test_normalized)

# Calculate Mean Squared Error (MSE) for the test set using Ridge model
mse_test_ridge = mean_squared_error(y_test, y_test_pred_ridge)

# Calculate Root Mean Squared Error (RMSE) for the test set using Ridge model
rmse_test_ridge = np.sqrt(mse_test_ridge)

# Print RMSE rounded to three decimal places
print("Root Mean Squared Error (Test Set - Ridge):", round(rmse_test_ridge, 3))

Root Mean Squared Error (Test Set - Ridge): 93.709

In [9]:
from sklearn.linear_model import Lasso

# Train the Lasso regression model on the training set
lasso_model = Lasso()
lasso_model.fit(X_train_normalized, y_train)

# Obtain the feature weights
feature_weights = lasso_model.coef_

# Count the number of non-zero feature weights
num_non_zero_weights = sum(feature_weights != 0)

# Print the number of non-zero feature weights
print("Number of features with non-zero weights:", num_non_zero_weights)

Number of features with non-zero weights: 4

In [10]:
#predictions on the test set using the Lasso regression model
y_test_pred_lasso = lasso_model.predict(X_test_normalized)

# Calculate Mean Squared Error (MSE) for the test set using Lasso regression model
mse_test_lasso = mean_squared_error(y_test, y_test_pred_lasso)

# Calculate Root Mean Squared Error (RMSE) for the test set using Lasso regression model
rmse_test_lasso = np.sqrt(mse_test_lasso)

# Print RMSE rounded to three decimal places
print("Root Mean Squared Error (Test Set - Lasso):", round(rmse_test_lasso, 3))

Root Mean Squared Error (Test Set - Lasso): 99.424